/* Fonts + global var boleh di sini juga */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&family=Roboto:wght@100..900&display=swap');

@import "tailwindcss";

@plugin "flowbite/plugin";
@source "./**/*.{vue,js,ts,jsx,tsx}";
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-vue";

:root{
  --col-pal1:#2C86FF;
  --col-pal2:#FF3430;
  --col-pal3:#2ECF42;
  --col-palBg:#fff;
  --col-palText:#111A35;
}
html{
  scroll-behavior:smooth;
  scroll-padding:10rem;
}
body{
  font-family:'Poppins',sans-serif;
  user-select:none;
}
body img{
  pointer-events:none;
}